// * {border:1px solid red} // css debugging

.index-ctn {
  color: red;
  font-size: 50px;
  height: 100vh;
}

.index-ctn p {
  margin: 0;
}

.drop-down-menu {
  opacity: 1;
  transition-duration: 200ms;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50px;
}

.static-image {
  width: 100%;
}

.top-main {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color .4s;
}

.main-gradient-layer {
  background-image: linear-gradient(to bottom,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%);
  width: 100%;
  height: 23vw;
  bottom: 0;
  position: absolute;
}

.main-video-wrapper {
  position: relative;
}

.top-main-pinned {
  position: fixed;
  background-color: #141414;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color .4s;
}

.main-view {
  position: relative;
  width: 100%;
}

.main-bg {
  position: relative;
  background-color: #141414;
  min-height: 500vh;
  bottom: 0;
}

.index-header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 0 3%;
}

.index-subheader-1 {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 35px 0 35px;
  height: 100%;
}

.nf-main-logo {
  display: flex;
  font-size: 1.8em;
}

.nf-main-logo img {
  height: 32px;
  width: 125px;
}