.index-ctn {
  color: red;
  font-size: 50px;
  height: 500px;
  outline: 1px solid red;
}

.index-ctn p {
  margin: 0;
}

.top-main {
  top: 0;
  position: sticky;
}

.main-view {
  position: relative;
  min-height: 350px;
  z-index: 0;
}

.main-bg {
  background-color: #141414;
  height: 1000vh;
  overflow: hidden;
}

.index-header {
  display: flex;
  background-color: #2c2727;
  justify-content: space-between;
  position: relative;
  height: 70px;
}

.index-subheader-1 {
  position: sticky;
  display: flex;
  align-items: center;
  padding: 0 35px 0 35px;
  height: 100%;
}

.nf-main-logo {
  display: flex;
  font-size: 1.8em;
}

.nf-main-logo img {
  height: 25px;
  width: 93px;
}