.session-basic-header {
  margin-top: 10px;
  display: flex;
  position: relative;
  align-items: center;
  height: 90px;
  justify-content: flex-start;
  z-index: 1;
}

.nf-logo-2 {
  height: 61px;
  width: 180px;
  vertical-align: middle;
  margin-bottom: 15px;
  margin-left: 33px;
}
.session-form-ctn {
  width: 450px;
  min-height: 600px; // 660 maybe
  padding: 60px 68px 60px;
  margin-bottom: 90px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.75);
  border-radius: 4px;
}

.input-field {
  width: 100%;
  height: 50px;
  padding: 16px 20px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
  background: #333;
  color: white;
}

.input-field:focus {
  outline: none;
  border-bottom: 2px solid #E87C03;
}

.session-form {
  width: 314;
  height: 234;
}

.input-field-separator {
  padding-bottom: 16px;
}

.input-field-separator-2 {
  padding-bottom: 40px;
}

.input-button {
  width: 100%;
  height: 50px;
  font-weight: bold;
  padding: 16px 20px 0px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
  background: #e50914;
  color: white;
  padding: 16px 16px 16px 16px;
  letter-spacing: 0.1px;
}

.input-button:hover {
  cursor: pointer;
}

.session-h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
  margin-top: 0;
}

.session-signup-space {
  border-bottom: 0;
  color: white;
  margin-top: 60%;
}

.signup-now {
  color: #737373;
  font-weight: 500;
}

.signup-now .link-signup-now {
  margin-left: 4px;
  color: white;
}

.session-errors {
  color: #737373;
}