.video-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.watch-buttons {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  justify-content: space-between;
}

.bot-controls {
  position: absolute;
  height: 90px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.video {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

.main-watch {
  background-color: black;
  height: 100%;
  width: 100%;
}

.fa-arrow-left {
  font-size: 35px;
  color: white;
  margin: 40px 0 0 40px;
}

.fa-play {
  font-size: 30px;
  color: white;
  margin-left: 30px;
}

.fa-play:hover {
  cursor: pointer;
}

.fa-pause {
  font-size: 30px;
  color: white;
  margin-left: 30px;
}

.fa-pause:hover {
  cursor: pointer;
}

.fa-compress {
  font-size: 30px;
  color: white;
  margin-right: 30px;
}

.fa-compress:hover {
  cursor: pointer;
}

.video-title {
  color: white;
}