.video-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.watch-buttons {
  display: flex;
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  justify-content: space-between;
}

.hide-watch-buttons {
  display: none;
}

.bot-controls {
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.video {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

.main-watch {
  background-color: black;
  height: 100%;
  width: 100%;
}

.fa-arrow-left {
  font-size: 35px;
  color: white;
  margin: 40px 0 0 40px;
}

.fa-arrow-left:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.fa-play {
  font-size: 30px;
  color: white;
  margin-left: 30px;
}

.fa-play:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.fa-pause {
  font-size: 30px;
  color: white;
  margin-left: 30px;
}

.fa-pause:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.fa-compress {
  font-size: 30px;
  color: white;
  margin-right: 30px;
}

.fa-compress:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.video-title {
  // position: absolute;
  width: 65%;
  color: white;
  min-width: 30%;
  margin-left: 100px;
}

.fa-expand {
  font-size: 30px;
  color: white;
  margin-right: 30px;
}

.fa-expand:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.fa-undo-alt {
  font-size: 30px;
  color: white;
  margin-right: 60px;
  margin-left: 60px;
}

.fa-undo-alt:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.fa-redo-alt {
  font-size: 30px;
  color: white;
  margin-right: 30px;
}

.fa-redo-alt:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.fa-volume-up {
  font-size: 30px;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  min-width: 40px;
  min-height: 40px;
}

.fa-volume-up:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.fa-volume-off {
  font-size: 30px;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  min-width: 40px;
  min-height: 40px;
  // padding: 10px;
}

.fa-volume-off:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.click-area {
  height: 100%;
  width: 100%;
}

.top-controls {
  position: absolute;
}

.left-controls {
  display: flex;
  flex-wrap: nowrap;
}

.audio-container {
  position: absolute;
  left: 267px;
  top: -9px;
  padding-top: 20px;
  box-sizing: border-box;
}

.audio-slider {
  -webkit-appearance: none;
  outline: none;
  height: 1vh;
  width: 95px;
  margin-top: 2px;
  margin-bottom: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.audio-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #E50914;
  height: 15px;
  width: 15px;
  border-radius: 50px;
}

.audio-slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.audio-bar-container {
  display: flex;
  position: absolute;
  width: 130px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 7px;
  background-color: rgb(32, 32, 32);
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  margin-left: -17px;
  margin-top: -127px;
  transform: rotate(270deg);
}

.track-seeker-container {
  display:flex;
  position: absolute;
  width: 100%;
  height: 25px;
  bottom: 90px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px; 
}

.video-slider {
  -webkit-appearance: none;
  outline: none;
  height: 4px;
  min-width: 88vw;
  box-sizing: border-box;
  cursor: pointer;
}

.video-slider:hover {
  height: 7px;
  transition: 0.1s ease-in;
}

.video-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #E50914;
  height: 21px;
  width: 21px;
  border-radius: 50px;
}

.time-remaining {
  margin-right: 30px;
  color: white;
}