body {
  background-color: black;
  background-image: image-url('nf_main_bg.jpg');
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

// .basic-layout {
//   height: 100vh;
// }

.bg-gradient {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0,0,0,.5);
  background-image: linear-gradient(0deg,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 100%),
                    radial-gradient(50% 120%,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%);
}

.signup-basic-header {
  margin-top: 10px;
  display: flex;
  position: relative;
  align-items: center;
  height: 60px;
  justify-content: flex-end;
  z-index: 1;
}

.img-main-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}


.nf-logo {
  height: 61px;
  width: 180px;
  vertical-align: middle;
  margin-right: 36vw;
  margin-top: 8px;
}

.b-nf-logo {
  text-decoration: none;
  margin-right: 35px;
  margin-bottom: 9px;
  font-size: 16px;
  padding: 7px 17px;
  font-weight: 400;
  border-radius: 3px;
  border: 0px;
  color: white;
  background-color: #E50914;
}

.splash-mid-wrapper {
  height: 80vh;
  margin: 0px 26px 0px 26px;
  border: 3px, solid red;
  position: relative;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
}

.splash-mid-wrapper .splash-pitch-2 {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 10px black;
  margin: 0 0 30px 0;
}

.splash-pitch {
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 10px black;
  margin: 59px 0 30px 0;
}

.splash-button {
  padding: 1em 1.5em 1em 2em;
  letter-spacing: 1.9px;
  font-size: 24px;
  color: white;
  background-color: #E50914;
  border: none;
}