body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  background-image: image-url('nf_main_bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.bg-gradient {
  left: 0;
  right: 0;
  top: 0;
  bottom: -2px;
  position: absolute;
  background: rgba(0,0,0,.5);
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0) 50%,rgba(0,0,0,.6) 100%),
                    radial-gradient(50% 120%,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%);
}

.greeting-basic-header {
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  height: 90px;
  justify-content: flex-end;
  z-index: 1;
  width: 100%;
}

.img-main-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}


.nf-logo {
  height: 61px;
  width: 215px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.nf-logo img {
  height: 61px;
  width: 220px;
}

.b-nf-logo {
  text-decoration: none;
  margin-right: 35px;
  margin-bottom: 9px;
  font-size: 16px;
  padding: 7px 17px;
  font-weight: 400;
  border-radius: 3px;
  border: 0px;
  color: white;
  background-color: #E50914;
}

.b-nf-logo:hover {
    background: #f40612;
}

.splash-mid-wrapper {
  height: 80vh;
  margin: 0px 26px 0px 26px;
  border: 3px, solid red;
  position: relative;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
}

.splash-mid-wrapper .splash-pitch-2 {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 10px black;
  margin: 0 0 30px 0;
}

.splash-pitch {
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 10px black;
  margin: 59px 0 30px 0;
}

.splash-button {
  padding: 1em 2em 1em 2em;
  letter-spacing: 1.9px;
  font-size: 24px;
  color: white;
  background-color: #E50914;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,.5);
}

.splash-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.085em #85050b;
}

.splash-button:hover {
  cursor: pointer;
  background: #f40612;
}

.splash-button:active {
  background: #bb0a12;
}

.splash-footer {
  position: absolute;
  bottom: -2px;
  width: 100%;
  background-color: #141414;
}